.list {
    width: 80%;
    height: auto;
    text-align: left;
}

.name {
    font-family: 'Fredericka the Great', cursive;
    font-size: 35px;
    display: inline-block;
}

.item-comment {
    color: grey;
    font-style: italic;
}

.far {
    margin-right: 5px;
}

.hidden-button {
    all: unset;
    cursor: pointer;
}

.baubles img {
    height: 200px;
}

.baubles {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

.personal-list p {
    text-align: left;;
}

.personal-list-items {
    width: 80%;
    margin-top: 50px;
}

.new-personal-item {
    width: 80%;
    margin-top: 50px;
}

.new-personal-item form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.new-personal-item input {
    width: 60%;
    border: none;
}

.new-personal-item button {
    width: 30%;
    border: none;
}

.others-name {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.others-name img {
    width: 90px;
    height: auto;
    margin: 0px 10px;
}
