.App {
  text-align: center;
}

.all-lists {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  min-height: 100vh;
}

.personal-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: pink;
}

.display-name {
  text-transform: capitalize;
}

.others-lists {
  display: flex;
  flex-flow: row wrap;
  background-color: yellow;
}

.others-list {
  width: 50%;
  min-width: 400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: lightblue;
  overflow: scroll;
}

input, button {
  display: block;
  margin: 10px;
  padding: 6px;
}

