.App {
  text-align: center;
}

.all-lists {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  min-height: 100vh;
  background-color: #d8dcd6;
}

.personal-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #E7DADA; */
  background-color: #d0d0d0;
  overflow: scroll;
}

.display-name {
  text-transform: capitalize;
}

.others-lists {
  display: flex;
  flex-flow: row wrap;
  background-color: #d8dcd6;
}

.others-list {
  height: auto;
  width: 50%;
  min-width: 350px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #d8dcd6;
  overflow: scroll;
}

input, button {
  display: block;
  padding: 6px;
  margin: 5px 0px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 14px;
}

button {
  cursor: pointer;
}

