.App {
  text-align: center;
}

.all-lists {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  min-height: 100vh;
}

.personal-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #E7DADA; */
  background-color: #d0d0d0;
  overflow: scroll;
}

.display-name {
  text-transform: capitalize;
}

.others-lists {
  display: flex;
  flex-flow: row wrap;
  background-color: #d8dcd6;
}

.others-list {
  height: auto;
  width: 50%;
  min-width: 400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #d8dcd6;
  overflow: scroll;
}

input, button {
  display: block;
  margin: 10px;
  padding: 6px;
}

button {
  cursor: pointer;
}

